[data-theme="dark"] {
  --rr-sem-display-primary: var(--rr-color-primary-400);
  --rr-sem-display-primaryHover: var(--rr-color-primary-500);
  --rr-sem-display-primaryDisabled: var(--rr-color-primary-800);
  --rr-sem-display-error: var(--rr-color-error-400);
  --rr-sem-display-errorHover: var(--rr-color-error-500);
  --rr-sem-display-errorDisabled: var(--rr-color-error-800);
  --rr-sem-display-success: var(--rr-color-success-400);
  --rr-sem-display-successHover: var(--rr-color-success-500);
  --rr-sem-display-successDisabled: var(--rr-color-success-900);
  --rr-sem-display-warning: var(--rr-color-warning-400);
  --rr-sem-display-warningHover: var(--rr-color-warning-500);
  --rr-sem-display-warningDisabled: var(--rr-color-warning-800);
  --rr-sem-display-iconPrimary: var(--rr-color-neutral-0);
  --rr-sem-display-iconSecondary: var(--rr-color-neutral-100);
  --rr-sem-display-iconTertiary: var(--rr-color-neutral-300);
  --rr-sem-display-iconDisabled: var(--rr-color-neutral-600);
  --rr-sem-display-iconRemainWhite: var(--rr-color-neutral-25);
  --rr-sem-display-iconQueternary: var(--rr-color-neutral-400);
  --rr-sem-display-iconReversed: var(--rr-color-neutral-900);
  --rr-sem-display-priority-urgent: var(--rr-color-secondary-800);
  --rr-sem-display-priority-high: var(--rr-color-error-800);
  --rr-sem-display-priority-medium: var(--rr-color-warning-800);
  --rr-sem-display-priority-low: var(--rr-color-success-800);
  --rr-sem-display-priority-blocker: var(--rr-color-secondary-800);
  --rr-sem-display-secondaryDisabled: var(--rr-color-secondary-800);
  --rr-sem-display-secondaryHover: var(--rr-color-secondary-500);
  --rr-sem-display-secondary: var(--rr-color-secondary-400);
  --rr-sem-display-issues-epic: var(--rr-color-purple-500);
  --rr-sem-display-issues-userStory: var(--rr-color-success-500);
  --rr-sem-display-issues-task: var(--rr-color-primary-500);
  --rr-sem-display-issues-bug: var(--rr-color-secondary-500);
  --rr-sem-display-iconLight: var(--rr-color-neutral-600);
  --rr-sem-display-purpleDisabled: var(--rr-color-purple-900);
  --rr-sem-display-purpleHover: var(--rr-color-purple-500);
  --rr-sem-display-purple: var(--rr-color-purple-400);
  --rr-sem-text-primary: var(--rr-color-neutral-0);
  --rr-sem-text-secondary: var(--rr-color-neutral-100);
  --rr-sem-text-disabled: var(--rr-color-neutral-600);
  --rr-sem-text-error: var(--rr-color-error-400);
  --rr-sem-text-actionForeground: var(--rr-color-neutral-0);
  --rr-sem-text-success: var(--rr-color-success-400);
  --rr-sem-text-tertiary: var(--rr-color-neutral-300);
  --rr-sem-text-actionLink: var(--rr-color-primary-300);
  --rr-sem-text-warning: var(--rr-color-warning-400);
  --rr-sem-text-actionLight: var(--rr-color-primary-500);
  --rr-sem-text-actionSecondary: var(--rr-color-secondary-200);
  --rr-sem-text-primaryReversed: var(--rr-color-neutral-900);
  --rr-sem-text-purple: var(--rr-color-purple-400);
  --rr-sem-stroke-error: var(--rr-color-error-400);
  --rr-sem-stroke-disabled: var(--rr-color-neutral-700);
  --rr-sem-stroke-success: var(--rr-color-success-400);
  --rr-sem-stroke-warning: var(--rr-color-warning-400);
  --rr-sem-stroke-field: var(--rr-color-neutral-500);
  --rr-sem-stroke-fieldHover: var(--rr-color-neutral-100);
  --rr-sem-stroke-fieldDisabled: var(--rr-color-neutral-800);
  --rr-sem-stroke-btnPrimary: var(--rr-color-primary-300);
  --rr-sem-stroke-btnPrimaryHover: var(--rr-color-primary-300);
  --rr-sem-stroke-btnPrimaryDisabled: var(--rr-color-primary-100);
  --rr-sem-stroke-btnSecondary: var(--rr-color-secondary-200);
  --rr-sem-stroke-btnSecondaryHover: var(--rr-color-secondary-300);
  --rr-sem-stroke-btnSecondaryDisabled: var(--rr-color-secondary-100);
  --rr-sem-stroke-btnNeutral: var(--rr-color-neutral-500);
  --rr-sem-stroke-btnNeutralHover: var(--rr-color-neutral-300);
  --rr-sem-stroke-btnNeutralDisabled: var(--rr-color-neutral-700);
  --rr-sem-stroke-primary: var(--rr-color-neutral-600);
  --rr-sem-stroke-secondary: var(--rr-color-neutral-400);
  --rr-sem-stroke-tertiary: var(--rr-color-neutral-200);
  --rr-sem-stroke-focusRingPrimary: var(--rr-color-primary-opacityLight30);
  --rr-sem-stroke-focusRingSecondary: var(--rr-color-secondary-opacityLight30);
  --rr-sem-stroke-focusRingNeutral: var(--rr-color-neutral-opacityLight30);
  --rr-sem-stroke-focusRingError: var(--rr-color-error-opacityLight30);
  --rr-sem-stroke-btnFocus: var(--rr-color-neutral-950);
  --rr-sem-stroke-purple: var(--rr-color-purple-400);
  --rr-sem-background-page: var(--rr-color-neutral-900);
  --rr-sem-background-field: var(--rr-color-neutral-950);
  --rr-sem-background-card: var(--rr-color-neutral-700);
  --rr-sem-background-cardHover: var(--rr-color-neutral-800);
  --rr-sem-background-fieldHover: var(--rr-color-neutral-800);
  --rr-sem-background-overlay: var(--rr-color-neutral-overlayDark);
  --rr-sem-background-elevated: var(--rr-color-neutral-850);
  --rr-sem-background-primarySubtle: var(--rr-color-primary-800);
  --rr-sem-background-secondarySubtle: var(--rr-color-secondary-800);
  --rr-sem-background-errorSubtle: var(--rr-color-error-800);
  --rr-sem-background-warningSubtle: var(--rr-color-warning-800);
  --rr-sem-background-succesSubtle: var(--rr-color-success-800);
  --rr-sem-background-fieldDisabled: var(--rr-color-neutral-900);
  --rr-sem-background-pageLight: var(--rr-color-neutral-950);
  --rr-sem-background-elevatedHover: var(--rr-color-neutral-900);
  --rr-sem-background-cardDisabled: var(--rr-color-neutral-900);
  --rr-sem-background-table: var(--rr-color-neutral-950);
  --rr-sem-background-tableHover: var(--rr-color-neutral-850);
  --rr-sem-background-tableDisabled: var(--rr-color-neutral-700);
  --rr-sem-background-nav: var(--rr-color-neutral-900);
  --rr-sem-background-navHover: var(--rr-color-neutral-850);
  --rr-sem-background-navActive: var(--rr-color-neutral-850);
  --rr-sem-background-neutralSubtle: var(--rr-color-neutral-900);
  --rr-sem-background-neutralSubtleReversed: var(--rr-color-neutral-150);
  --rr-sem-background-pageReversed: var(--rr-color-neutral-25);
  --rr-sem-background-warningSubtleReversed: var(--rr-color-warning-25);
  --rr-sem-background-succesSubtleReversed: var(--rr-color-success-25);
  --rr-sem-background-errorSubtleReversed: var(--rr-color-error-25);
  --rr-sem-background-purpleSubtleReversed: var(--rr-color-purple-100);
  --rr-sem-background-purpleSubtle: var(--rr-color-purple-800);
  --rr-sem-action-btnPrimary: var(--rr-color-primary-600);
  --rr-sem-action-btnPrimaryHover: var(--rr-color-primary-500);
  --rr-sem-action-btnPrimaryDisabled: var(--rr-color-primary-700);
  --rr-sem-action-btnSecondary: var(--rr-color-secondary-600);
  --rr-sem-action-btnSecondaryHover: var(--rr-color-secondary-400);
  --rr-sem-action-btnSecondaryDisabled: var(--rr-color-secondary-700);
  --rr-sem-action-btnNeutral: var(--rr-color-neutral-850);
  --rr-sem-action-btnNeutralHover: var(--rr-color-neutral-700);
  --rr-sem-action-btnNeutralDisabled: var(--rr-color-neutral-900);
  --rr-sem-action-btnDanger: var(--rr-color-error-600);
  --rr-sem-action-btnDangerHover: var(--rr-color-error-400);
  --rr-sem-action-btnDangerDisabled: var(--rr-color-error-100);
  --rr-sem-action-btnForeground: var(--rr-color-neutral-900);
  --rr-sem-action-btnForegroundHover: var(--rr-color-neutral-700);
  --rr-sem-action-succesSelection: var(--rr-color-success-800);
  --rr-sem-action-warningSelection: var(--rr-color-warning-800);
  --rr-sem-action-errorSelection: var(--rr-color-error-800);
  --rr-sem-action-secondarySelection: var(--rr-color-secondary-800);
  --rr-sem-action-primarySelection: var(--rr-color-primary-800);
  --rr-sem-action-neutralSelection: var(--rr-color-neutral-700);
  --rr-sem-action-purpleSelection: var(--rr-color-purple-800);
  --rr-sem-surface: var(--rr-sem-background-page);
  --rr-sem-surfaceSubtle: var(--rr-sem-background-neutralSubtle);
  --rr-sem-surfaceField: var(--rr-sem-background-field);
  --rr-sem-surfaceTable: var(--rr-sem-background-table);
  --rr-sem-surfaceOnPrimary: var(--rr-sem-text-actionForeground);
  --rr-sem-textPrimary: var(--rr-sem-text-primary);
  --rr-sem-textSecondary: var(--rr-sem-text-secondary);
  --rr-sem-textMuted: var(--rr-sem-text-tertiary);
  --rr-sem-borderDefault: var(--rr-sem-stroke-primary);
  --rr-sem-borderField: var(--rr-sem-stroke-field);
  --rr-sem-iconPrimary: var(--rr-sem-display-iconPrimary);
  --rr-sem-iconSecondary: var(--rr-sem-display-iconSecondary);
  --rr-sem-overlay: var(--rr-sem-background-overlay);
  --rr-sem-actionPrimary: var(--rr-sem-action-btnPrimary);
  --rr-sem-actionPrimaryHover: var(--rr-sem-action-btnPrimaryHover);
  --rr-sem-danger: var(--rr-sem-display-error);
  --rr-sem-success: var(--rr-sem-display-success);
  --rr-sem-warning: var(--rr-sem-display-warning);
  --rr-sem-secondary: var(--rr-sem-display-secondary);
  --rr-sem-brandGradientStart: var(--rr-sem-display-primary);
  --rr-sem-brandGradientEnd: var(--rr-sem-display-secondary);
}
