:host {
  --rr-control-height: 44px;
  font-family: var(--rr-typography-fontFamilyBase);
  font-size: var(--rr-typography-fontSizeSm);
  line-height: var(--rr-typography-lineHeightParagraph);
  letter-spacing: var(--rr-typography-letterSpacingMax);
  color: var(--rr-sem-textPrimary);
}

:host,
:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
}
